@charset "utf-8";
@import 'mixin';

$breakpoints: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

$base_color: #43c8f9;
%text{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    text-align: center;
}

body {
  font:normal 16px/1.8em Arial,Helvetica,sans-serif;;
  color: #000;
}
a {
  text-decoration: none;
}


/* ===========================
 header
=========================== */
.header {
    &__title {
      position: relative;
      // border-bottom:46px solid transparent;
      background-color: #fff;
      margin-bottom: 0px;
      transition: all 0.3s;
      @include mq(md) {
        background-color: #fff;
        // border-bottom:46px solid transparent;
        margin-bottom: 46px;
      }
      & h1 {
        font-size: 1.2em;
        color: #a3e3f3;
        background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 20px;
        width: auto;
      }
      & h2 {
        font-size: 1em;
        font-weight: small;
        color: #FF8C00;
        background-color: transparent;
        margin-left: 20px;
      }
      & .logo {
        display: flex;
        align-items: center;
      }
    }
    &__image{
        position:relative;
        height:60vh;
        background:#7BC2BA url('../images/image_bg.jpg')no-repeat right center / cover;
        background-position: 80% 60%;
        & > .welcome {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 50%;
            width: 80%;
            padding: 10px 10px ;
            text-align: center;

            & > svg {
                width: 80%;
                height: 100%;
                background-color: #000;
            }
            &.hidden svg path {
                fill: #f0f0f0;
                stroke: #a3e3f3;
                stroke-width: 0.5px;
                stroke-dasharray: 200;
                stroke-dashoffset: 200;
                animation: 1s ease-in-out forwards 0.1s textanimation ;
              
            }
        }    
    }
}


@media screen and (max-width:1215px){
  .header__contents{
    width:100%;
  }
}
@include mq(md) {
  
  .toggle_header {
    & .header__title {
      // border-bottom: 0px solid transparent;
      margin-bottom: 0px;
    }
  }
  
  .header {
    &__image {
      position:relative;
      height:300px;

      & .welcome {
        height: 100px;
      }
    }
  }
}



@keyframes textanimation {
  0% {
    stroke-dashoffset: 200;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 100;
  }
  90% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 200;
    fill-opacity: 1;
    transform: scaleX(1);
  }
}

/* ===========================
 nav
=========================== */
.mobile-menu {
  &__contain {
    // background: -webkit-linear-gradient(0deg,#40E0D0, #FF8C00, #FF0080,rgba(255, 255, 255, 0.1));
    background: -webkit-linear-gradient(0deg,rgba(64, 224, 208, 0.9), rgba(255, 140, 0, 0.7), rgba(255, 0, 128, 0.8));
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  &__btn-wrap {
    height: 0px;
  } 
  &__btn-item {
    margin: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  @include mq(md) {
    &__contain {
      background: #000;
      transition: all 0.3s;
      margin-bottom: 150px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
    } &__btn-wrap {
      display: flex;
      justify-content: flex-end;
      height:46px;
    }&__btn-item {
      margin: 10px 0px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      & span {
        background-color: black;  
        width: 35px;
        height: 2px;
        display: block;
        margin-bottom: 9px;
        transition: all 0.7s;
        &:nth-of-type(1) {
          background-color: #4065e0;
        }
        &:nth-of-type(2) {
          background-color: #FF8C00,;
        }
        &:nth-of-type(3) {
          background-color: #FF0080;
        }
      }
    }
  }
}


@include mq(md) {
  
  .menu-open {
    background-color: black;

    & .mobile-menu {
      &__btn-item span {
        background-color: white;

        &:nth-of-type(1) {
          transform: translateY(11px) rotate(135deg);
        }
        &:nth-of-type(2) {
          transform: translateX(-18px) scale(0);
        }
        &:nth-of-type(3) {
          transform: translateY(-11px) rotate(-135deg);
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}


//メニューの動作
.mobile-menu {
  &__main-wrap {
    z-index: 1;
  }
  
  &__main-list {
    width:auto;
    margin:0 auto;
    display:flex;
    justify-content: space-around;
    position: relative;
  }
  
  &__main-item {
    width:120px;
    height:60px;
    & a {
      display:flex;
      justify-content: center;
      align-items: center;
      height:100%;
      color: #fff;
    }
  }                
}

@include mq(md) {

  .mobile-menu {
    &__main-wrap {
      background: -webkit-linear-gradient(0deg,#40E0D0, #FF8C00, #FF0080,rgba(255, 255, 255, 0.1));
      z-index: 1;
    }
    &__main-list {
      width:0px;
      height: 0px;
      flex-direction: column;
      visibility: hidden;
    }
    &__main-item {
      transform: translateX(100px);
      height:0px;
      transition: height 0.3s,transform 1s;
      & a{
        color: transparent;
      }
      & a img{
        height: 0px;
        width: 0px;
      }
    }
  }
    
        
    
    .menu-open {
      & .mobile-menu {
        &__main-list {
          height: auto;
          width: 100%;
          flex-direction: row;
          flex-wrap:wrap;
          visibility: visible;
        }
        &__main-item {
          @for $var from 2 to 8 {
            &:nth-of-type(#{$var}) {
                transform: translateX(0px);
                height:60px;
                margin:6px 0;
                transition-delay: $var * 0.3s;
            }
          }
          @for $i from 2 to 8 {
            &:nth-of-type(#{$i}) {
              & a {
                border:1px solid #fff;
                color: #fff;
                transition-delay: $i * 0.3s;
              }
            }
          }
          &:nth-of-type(1) {
            transform: translateX(0px);
            height:60px;
            margin:6px 0;
          }
          & a {
            border:1px solid #fff;
            color: #fff;
            transition-delay: 0.3s;
          }
          & a img{
            height: 60px;
            width: auto;
          }
        }
      }
    }
}
 