body {
  font: normal 16px/1.8em Arial,Helvetica,sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

/* ===========================
 header
=========================== */
.header__title {
  position: relative;
  background-color: #fff;
  margin-bottom: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .header__title {
    background-color: #fff;
    margin-bottom: 46px;
  }
}

.header__title h1 {
  font-size: 1.2em;
  color: #a3e3f3;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  width: auto;
}

.header__title h2 {
  font-size: 1em;
  font-weight: small;
  color: #FF8C00;
  background-color: transparent;
  margin-left: 20px;
}

.header__title .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__image {
  position: relative;
  height: 60vh;
  background: #7BC2BA url("../images/image_bg.jpg") no-repeat right center/cover;
  background-position: 80% 60%;
}

.header__image > .welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50%;
  width: 80%;
  padding: 10px 10px;
  text-align: center;
}

.header__image > .welcome > svg {
  width: 80%;
  height: 100%;
  background-color: #000;
}

.header__image > .welcome.hidden svg path {
  fill: #f0f0f0;
  stroke: #a3e3f3;
  stroke-width: 0.5px;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  -webkit-animation: 1s ease-in-out forwards 0.1s textanimation;
          animation: 1s ease-in-out forwards 0.1s textanimation;
}

@media screen and (max-width: 1215px) {
  .header__contents {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .toggle_header .header__title {
    margin-bottom: 0px;
  }
  .header__image {
    position: relative;
    height: 300px;
  }
  .header__image .welcome {
    height: 100px;
  }
}

@-webkit-keyframes textanimation {
  0% {
    stroke-dashoffset: 200;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 100;
  }
  90% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 200;
    fill-opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes textanimation {
  0% {
    stroke-dashoffset: 200;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 100;
  }
  90% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 200;
    fill-opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/* ===========================
 nav
=========================== */
.mobile-menu__contain {
  background: -webkit-linear-gradient(0deg, rgba(64, 224, 208, 0.9), rgba(255, 140, 0, 0.7), rgba(255, 0, 128, 0.8));
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mobile-menu__btn-wrap {
  height: 0px;
}

.mobile-menu__btn-item {
  margin: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mobile-menu__contain {
    background: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .mobile-menu__btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 46px;
  }
  .mobile-menu__btn-item {
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu__btn-item span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .mobile-menu__btn-item span:nth-of-type(1) {
    background-color: #4065e0;
  }
  .mobile-menu__btn-item span:nth-of-type(2) {
    background-color: #FF8C00;
  }
  .mobile-menu__btn-item span:nth-of-type(3) {
    background-color: #FF0080;
  }
}

@media screen and (max-width: 767px) {
  .menu-open {
    background-color: black;
  }
  .menu-open .mobile-menu__btn-item span {
    background-color: white;
  }
  .menu-open .mobile-menu__btn-item span:nth-of-type(1) {
    -webkit-transform: translateY(11px) rotate(135deg);
            transform: translateY(11px) rotate(135deg);
  }
  .menu-open .mobile-menu__btn-item span:nth-of-type(2) {
    -webkit-transform: translateX(-18px) scale(0);
            transform: translateX(-18px) scale(0);
  }
  .menu-open .mobile-menu__btn-item span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) rotate(-135deg);
            transform: translateY(-11px) rotate(-135deg);
  }
  .menu-open .mobile-menu__btn-item span:last-of-type {
    margin-bottom: 0;
  }
}

.mobile-menu__main-wrap {
  z-index: 1;
}

.mobile-menu__main-list {
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.mobile-menu__main-item {
  width: 120px;
  height: 60px;
}

.mobile-menu__main-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .mobile-menu__main-wrap {
    background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080, rgba(255, 255, 255, 0.1));
    z-index: 1;
  }
  .mobile-menu__main-list {
    width: 0px;
    height: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    visibility: hidden;
  }
  .mobile-menu__main-item {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    height: 0px;
    -webkit-transition: height 0.3s,-webkit-transform 1s;
    transition: height 0.3s,-webkit-transform 1s;
    transition: height 0.3s,transform 1s;
    transition: height 0.3s,transform 1s,-webkit-transform 1s;
  }
  .mobile-menu__main-item a {
    color: transparent;
  }
  .mobile-menu__main-item a img {
    height: 0px;
    width: 0px;
  }
  .menu-open .mobile-menu__main-list {
    height: auto;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(2) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(3) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(4) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(5) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(6) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(7) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(2) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(3) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(4) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(5) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(6) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(7) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(1) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
  }
  .menu-open .mobile-menu__main-item a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .menu-open .mobile-menu__main-item a img {
    height: 60px;
    width: auto;
  }
}
/*# sourceMappingURL=header.css.map */