
  .loader {
      align-items: center;
      background: #fff;
      bottom: 0;
      display: flex;
      justify-content: center;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 999;
      &::after {
        animation: loader 0.5s linear infinite;
        border: 3px solid #afb1ac;
        border-radius: 50%;
        border-right: 3px solid rgba(green, 0.2);
        border-top: 3px solid rgba(green, 0.2);
        content: "";
        height: 70px;
        width: 70px;
      }
    }
    
    @keyframes loader {
      0% {
        transform: rotate(0);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }