@charset "UTF-8";
.footer__text {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  text-align: center;
}

body {
  font: normal 16px/1.8em Arial,Helvetica,sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

/* ===========================
 header
=========================== */
h1 {
  font-size: 1.2em;
  color: #a3e3f3;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 20px;
  width: auto;
}

h2 {
  font-size: 1em;
  font-weight: small;
  color: #FF8C00;
  background-color: transparent;
  margin-left: 20px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__image {
  position: relative;
  height: 60vh;
  background: #7BC2BA url("../images/image_05_nagasaki.jpg") no-repeat right center/cover;
  background-position: 50% 30%;
}

.header__image > .welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50%;
  width: 80%;
  padding: 10px 10px;
  text-align: center;
}

.header__image > .welcome > svg {
  width: 80%;
  height: 100%;
}

.header__image > .welcome.hidden svg path {
  fill: #f0f0f0;
  stroke: #a3e3f3;
  stroke-width: 0.5px;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  -webkit-animation: 1s ease-in-out forwards 0.1s textanimation;
          animation: 1s ease-in-out forwards 0.1s textanimation;
}

@media screen and (max-width: 1215px) {
  .header__contents {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header__image {
    position: relative;
    height: 300px;
  }
  .header__image .welcome {
    height: 100px;
  }
}

@-webkit-keyframes textanimation {
  0% {
    stroke-dashoffset: 200;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 100;
  }
  90% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 200;
    fill-opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes textanimation {
  0% {
    stroke-dashoffset: 200;
    fill-opacity: 0;
  }
  50% {
    stroke-dashoffset: 100;
  }
  90% {
    stroke-dashoffset: 100;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 200;
    fill-opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/* ===========================
 nav
=========================== */
.mobile-menu__contain {
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
}

.mobile-menu__btn-wrap {
  height: 0px;
}

.mobile-menu__btn-item {
  margin: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mobile-menu__contain {
    background: #000;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .mobile-menu__btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 46px;
  }
  .mobile-menu__btn-item {
    margin: 10px 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .mobile-menu__btn-item span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .mobile-menu__btn-item span:nth-of-type(1) {
    background-color: #4065e0;
  }
  .mobile-menu__btn-item span:nth-of-type(2) {
    background-color: #FF8C00;
  }
  .mobile-menu__btn-item span:nth-of-type(3) {
    background-color: #FF0080;
  }
}

@media screen and (max-width: 767px) {
  .menu-open {
    background-color: black;
  }
  .menu-open .mobile-menu__btn-item span {
    background-color: white;
  }
  .menu-open .mobile-menu__btn-item span:nth-of-type(1) {
    -webkit-transform: translateY(11px) rotate(135deg);
            transform: translateY(11px) rotate(135deg);
  }
  .menu-open .mobile-menu__btn-item span:nth-of-type(2) {
    -webkit-transform: translateX(-18px) scale(0);
            transform: translateX(-18px) scale(0);
  }
  .menu-open .mobile-menu__btn-item span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) rotate(-135deg);
            transform: translateY(-11px) rotate(-135deg);
  }
  .menu-open .mobile-menu__btn-item span:last-of-type {
    margin-bottom: 0;
  }
}

.mobile-menu__main-wrap {
  z-index: 1;
}

.mobile-menu__main-list {
  width: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mobile-menu__main-item {
  width: 120px;
  height: 60px;
}

.mobile-menu__main-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .mobile-menu__main-wrap {
    background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
    z-index: 1;
  }
  .mobile-menu__main-list {
    width: 0px;
    height: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: hidden;
  }
  .mobile-menu__main-item {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    height: 0px;
    -webkit-transition: height 0.3s,-webkit-transform 1s;
    transition: height 0.3s,-webkit-transform 1s;
    transition: height 0.3s,transform 1s;
    transition: height 0.3s,transform 1s,-webkit-transform 1s;
  }
  .mobile-menu__main-item a {
    color: transparent;
  }
  .mobile-menu__main-item a img {
    height: 0px;
  }
  .menu-open .mobile-menu__main-list {
    width: 100%;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    visibility: visible;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(2) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(3) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(4) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(5) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(6) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(7) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(2) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(3) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(4) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(5) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 1.5s;
            transition-delay: 1.5s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(6) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(7) a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 2.1s;
            transition-delay: 2.1s;
  }
  .menu-open .mobile-menu__main-item:nth-of-type(1) {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    height: 60px;
    margin: 6px 0;
  }
  .menu-open .mobile-menu__main-item a {
    border: 1px solid #fff;
    color: #fff;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .menu-open .mobile-menu__main-item a img {
    height: 60px;
  }
}

/* ===========================
 footer
=========================== */
footer {
  text-align: center;
}

.footer {
  color: #fff;
  padding: 60px 0 70px;
  background-color: #000;
}

.footer__sns {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

@media screen and (max-width: 767px) {
  .footer__sns {
    width: 80%;
  }
}

.footer__sns svg {
  width: 80px;
}

.footer h2 {
  color: #fff;
  font-size: 50px;
  margin: 30px auto 30px;
}

.footer__column--map {
  height: 450px;
}

.footer__column--map iframe {
  height: 450px;
}

.footer__copy {
  font-size: 0.8em;
  padding: 20px 0;
  color: #aaa;
}

@media screen and (max-width: 767px) {
  .footer h2 {
    font-size: 2em;
  }
  .footer__column--map iframe {
    width: 90%;
    margin: 50px auto 0;
    text-align: center;
  }
}

/* ===========================
 コンテンツ
=========================== */
.menu {
  width: 1200px;
  margin: 0 auto;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
}

.menu__content-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__content-text h3 {
  margin: 20px 0 50px;
  font-size: 1.3em;
}

.menu__content-text p {
  font-size: 1.3em;
  width: 65%;
  margin: 20px auto 20px;
  white-space: nowrap;
}

.menu__content-text span {
  font-size: 1em;
  width: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), color-stop(2, #ffc6c6));
  background: linear-gradient(transparent 80%, #ffc6c6 2 0%);
}

.menu__content-text dt {
  padding: 10px 10px;
  font-size: 1em;
  text-align: left;
}

.menu__content-text dd {
  padding: 10px 10px;
  text-align: left;
  display: none;
}

.menu__content-image {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 600px;
  overflow: hidden;
  padding: 150px 0px;
}

.img__design {
  overflow: hidden;
  height: 300px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.img__mountain {
  overflow: hidden;
  height: 300px;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
}

.img__mountain img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 3s;
  transition: all 3s;
  width: 100%;
}

.img__design img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all 3s;
  transition: all 3s;
  width: 100%;
}

.hidden.img__mountain img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hidden.img__design img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 1215px) {
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    margin: 0px auto 0;
  }
  .menu__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__content:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__content-text p {
    font-size: 1.1em;
    width: 80%;
    margin: 20px auto 20px;
    white-space: inherit;
  }
  .menu__content-text td {
    font-size: 0.8em;
  }
  .menu__content-text td span {
    margin: 0px 20px;
  }
  .menu__content-image {
    height: 300px;
    width: 420px;
  }
  .img__mountain img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .img__design img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 3s;
    transition: all 3s;
  }
  .hidden.img__mountain img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .hidden.img__design img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ===========================
 共有
=========================== */
.btn {
  -webkit-box-shadow: 2px 2px 0 0 #a3e3f3;
          box-shadow: 2px 2px 0 0 #a3e3f3;
  display: block;
  margin: 10px auto;
  padding: 10px 10px;
  width: 300px;
  cursor: pointer;
  font-size: 1.3em;
  color: #a3e3f3;
  text-align: center;
  border: 2px solid #a3e3f3;
  background-color: transparent;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
/*# sourceMappingURL=style_solo_1.css.map */