@charset "UTF-8";
body {
  font: normal 16px/1.8em Arial,Helvetica,sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

/* ===========================
  背景変える場合
=========================== */
#canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000;
}

@media screen and (max-width: 767px) {
  #canvas {
    width: 100%;
  }
}

/* ===========================
 コンテンツ
=========================== */
.menu {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  color: #fff;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 20px;
}

.menu__content:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.menu__content-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__content-text h3 {
  margin: 20px 0 50px;
  font-size: 1.3em;
}

.menu__content-text p {
  font-size: 1.3em;
  width: 65%;
  margin: 20px auto 20px;
  white-space: nowrap;
}

.menu__content-image {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 600px;
  padding: 150px 0px;
}

.img__design {
  color: #4065e0;
  overflow: hidden;
  height: 300px;
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  -webkit-box-shadow: 0px 10px 0px 0px black, 0px -10px 0px 0px black;
          box-shadow: 0px 10px 0px 0px black, 0px -10px 0px 0px black;
}

.img__mountain {
  color: #4065e0;
  overflow: hidden;
  height: 300px;
  -webkit-box-shadow: 0px 10px 0px 0px black, 0px -10px 0px 0px black;
          box-shadow: 0px 10px 0px 0px black, 0px -10px 0px 0px black;
}

.img__mountain img {
  height: 100%;
  -webkit-transition: all 3s;
  transition: all 3s;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  width: 100%;
}

.img__design img {
  height: 100%;
  -webkit-transition: all 3s;
  transition: all 3s;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  width: 100%;
}

.hidden.img__mountain img {
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hidden.img__design img {
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (max-width: 1215px) {
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    margin: 0px auto 0;
  }
  .menu__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__content:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__content-text {
    display: block;
    padding: 20px;
    position: relative;
  }
  .menu__content-text p {
    font-size: 1em;
    position: absolute;
    top: -70%;
  }
  .menu__content-image {
    height: 300px;
    width: 420px;
  }
  .img__mountain img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .img__design img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  .hidden.img__mountain img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .hidden.img__design img {
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ===========================
 共有
=========================== */
.btn {
  -webkit-box-shadow: 2px 2px 0 0 #a3e3f3;
          box-shadow: 2px 2px 0 0 #a3e3f3;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  width: auto;
  cursor: pointer;
  font-size: 1.3em;
  color: #a3e3f3;
  text-align: center;
  border: 2px solid #a3e3f3;
  background-color: transparent;
}

.btn span {
  font-weight: bold;
  background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}
/*# sourceMappingURL=style.css.map */