@charset "utf-8";
@import 'mixin';

$breakpoints: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

$base_color: #43c8f9;
%text{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
    text-align: center;
}

body {
  font:normal 16px/1.8em Arial,Helvetica,sans-serif;;
  color: #000;
}
a {
  text-decoration: none;
}

/* ===========================
  背景変える場合
=========================== */
#canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000;
  @include mq(md) {
    width: 100%;
  }
}
// #bg-image {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // background-image: url(../images/image_bg.jpg);
  // background-size: auto 100%;
  // height: 100%;
// }


/* ===========================
 コンテンツ
=========================== */

.menu {
  width:1200px;
  margin:0 auto;
  position: relative;
  color: #fff;
}
.menu__content{
  display:flex;
  text-align:center;
  padding: 20px;
  &:nth-of-type(2) {
      flex-direction: row-reverse;
  }
}
.menu__content-text{
  flex:1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__content-text h3{
  margin:20px 0 50px;
  font-size:1.3em;
}
.menu__content-text p{
  font-size:1.3em;
  width:65%;
  margin:20px auto 20px;
  white-space: nowrap;
}
.menu__content-image{
  object-fit: contain;
  flex:1;
  height:600px;
  padding: 150px 0px;
}
.img__design {
  color: #4065e0;
  overflow: hidden;
  height: 300px;
  transition: box-shadow 2s;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1),0px -10px 0px 0px rgba(0, 0, 0, 1);
}
.img__mountain {
  color: #4065e0;
  overflow: hidden;
  height: 300px;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 1),0px -10px 0px 0px rgba(0, 0, 0, 1);
}
.img__mountain img{
  height: 100%;
  transition: all 3s;
  object-fit: cover;
  transform: scale(1.5);
  width: 100%;
}
.img__design img{
  height: 100%;
  transition: all 3s;
  object-fit: cover;
  transform: scale(1.5);
  width: 100%;
}
.hidden.img__mountain img{
  height: 100%;
  transform: scale(1);
}
.hidden.img__design img{
  height: 100%;
  transform: scale(1);
}
@media screen and (max-width:1215px){
  .menu{
    width:100%;
  }
}

@include mq(md){
  .menu {
    margin:0px auto 0;
  }
  .menu__content{
    align-items: center;
    display:flex;
    flex-direction: column;
    &:nth-of-type(2) {
      flex-direction: column;
    }
  }

  .menu__content-text{
    display: block;
    padding: 20px;
    position: relative;
  }
  .menu__content-text p{
    font-size: 1em;
    position: absolute;
    top: -70%;
  }
  .menu__content-image{
    height:300px;
    width: 420px;
  }
  .img__mountain img{
    height: 300px;
    object-fit: cover;
    transform: scale(1.5);
    transition: all 2s;
  }
  .img__design img{
    height: 300px;
    object-fit: cover;
    transform: scale(1.5);
    transition: all 2s;
  }
  
  .hidden.img__mountain img{
    object-fit: cover;
    transform: scale(1);
  }
  .hidden.img__design img{
    object-fit: cover;
    transform: scale(1);
  }
  
}


/* ===========================
 共有
=========================== */
.btn {
  // border-radius: 50%;
  box-shadow: 2px 2px 0 0 #a3e3f3;
  display:inline-block;
  margin:0 auto;
  padding:10px 20px;
  width:auto;
  cursor:pointer;
  font-size:1.3em;
  color: #a3e3f3;
//   color:#58847F;
  text-align:center;
  border: 2px solid #a3e3f3;
  background-color:transparent;
    & span {
     font-weight: bold;
      background: -webkit-linear-gradient(0deg, #40E0D0, #FF8C00, #FF0080);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
        box-shadow: none;
        transform: translate(2px,2px);
    }
}
